# {{ ansible_managed }}
rexray:
{% if rexray_docker|d() %}
  modules:
    default-docker:
      host: tcp://:7981
{% endif %}
  logLevel: {{ rexray_log_level|lower }}
libstorage:
  logging:
    level: {{ rexray_log_level|lower }}
  integration:
    volume:
      operations:
        create:
          disable: {{ rexray_volume_operations_disable_create|lower }}
        mount:
          preempt: {{ rexray_volume_preempt|lower }}
        remove:
          disable: {{ rexray_volume_operations_disable_remove|lower }}
          force: {{ rexray_volume_operations_force_remove|lower }}
      mount:
        preempt: {{ rexray_volume_preempt|lower }}
      unmount:
        ignoreusedcount: {{ rexray_volume_ignoreusedcount|lower }}
      create:
        default:
          size: {{ rexray_volume_size |int}}
  service: {{ rexray_storage_drivers|first|lower }}
  server:
    services:
{% for driver in rexray_storage_drivers %}
      {{ driver|lower }}:
        driver: {{ driver|lower }}
{% endfor %}
{% if "ebs" in rexray_storage_drivers|d([]) %}
ebs:
{% if rexray_aws_accesskey|d() %}  accessKey: {{ rexray_aws_accesskey }}
{% endif %}
{% if rexray_aws_secretkey|d() %}  secretKey: {{ rexray_aws_secretkey }}
{% endif %}
{% if rexray_aws_region|d() %}  region: {{ rexray_aws_region }}
{% endif %}
{% endif %}
{% if "efs" in rexray_storage_drivers|d([]) %}
efs:
{% if rexray_aws_accesskey|d() %}  accessKey: {{ rexray_aws_accesskey }}
{% endif %}
{% if rexray_aws_secretkey|d() %}  secretKey: {{ rexray_aws_secretkey }}
{% endif %}
{% if rexray_aws_region|d() %}  region: {{ rexray_aws_region }}
{% endif %}
{% endif %}
{% if "gce" in rexray_storage_drivers|d([]) %}
gcepd:
{% if rexray_gce_keyfile|d() %}  keyfile: {{ rexray_gce_keyfile }}
{% endif %}
{% endif %}
{% if "isilon" in rexray_storage_drivers|d([]) %}
isilon:
{% if rexray_isilon_endpoint|d() %}  endpoint: {{ rexray_isilon_endpoint }}
{% endif %}
{% if rexray_isilon_insecure|d() %}  insecure: {{ rexray_isilon_insecure }}
{% endif %}
{% if rexray_isilon_username|d() %}  username: {{ rexray_isilon_username }}
{% endif %}
{% if rexray_isilon_password|d() %}  password: {{ rexray_isilon_password }}
{% endif %}
{% if rexray_isilon_volumePath|d() %}  volumePath: {{ rexray_isilon_volumePath }}
{% endif %}
{% if rexray_isilon_nfsHost|d() %}  nfsHost: {{ rexray_isilon_nfsHost }}
{% endif %}
{% endif %}
{% if "cinder" in rexray_storage_drivers|d([]) %}
cinder:
{% if rexray_os_authurl|d() %}  authURL: {{ rexray_os_authurl }}
{% endif %}
{% if rexray_os_userid|d() %}  userID: {{ rexray_os_userid }}
{% endif %}
{% if rexray_os_username|d() %}  userName: {{ rexray_os_username }}
{% endif %}
{% if rexray_os_password|d() %}  password: {{ rexray_os_password }}
{% endif %}
{% if rexray_os_tenantid|d() %}  tenantID: {{ rexray_os_tenantid }}
{% endif %}
{% if rexray_os_tenantname|d() %}  tenantName: {{ rexray_os_tenantname }}
{% endif %}
{% if rexray_os_domainid|d() %}  domainID: {{ rexray_os_domainid }}
{% endif %}
{% if rexray_os_domainname|d() %}  domainName: {{ rexray_os_domainname }}
{% endif %}
{% if rexray_os_regionname|d() %}  regionName: {{ rexray_os_regionname }}
{% endif %}
{% if rexray_os_availabilityzonename|d() %}  availabilityZoneName: {{ rexray_os_availabilityzonename }}
{% endif %}
{% endif %}
{% if "scaleio" in rexray_storage_drivers|d([]) %}
scaleio:
{% if rexray_sio_endpoint|d() %}  endpoint: {{ rexray_sio_endpoint }}
{% endif %}
{% if rexray_sio_insecure|d() %}  insecure: {{ rexray_sio_insecure }}
{% endif %}
{% if rexray_sio_usecerts|d() %}  useCerts: {{ rexray_sio_usecerts }}
{% endif %}
{% if rexray_sio_username|d() %}  userName: {{ rexray_sio_username }}
{% endif %}
{% if rexray_sio_password|d() %}  password: {{ rexray_sio_password }}
{% endif %}
{% if rexray_sio_systemid|d() %}  systemID: {{ rexray_sio_systemid }}
{% endif %}
{% if rexray_sio_systemname|d() %}  systemName: {{ rexray_sio_systemname }}
{% endif %}
{% if rexray_sio_protectiondomainid|d() %}  protectionDomainID: {{ rexray_sio_protectiondomainid }}
{% endif %}
{% if rexray_sio_protectiondomainname|d() %}  protectionDomainName: {{ rexray_sio_protectiondomainname }}
{% endif %}
{% if rexray_sio_storagepoolid|d() %}  storagePoolID: {{ rexray_sio_storagepoolid }}
{% endif %}
{% if rexray_sio_storagepoolname|d() %}  storagePoolName: {{ rexray_sio_storagepoolname }}
{% endif %}
{% endif %}
{% if "virtualbox" in rexray_storage_drivers|d([]) %}
virtualbox:
{% if rexray_vbox_endpoint|d() %}  endpoint: {{ rexray_vbox_endpoint }}
{% endif %}
{% if rexray_vbox_volume_path|d() %}  volumePath: {{ rexray_vbox_volume_path }}
{% endif %}
{% if rexray_vbox_user|d() %}  userName: {{ rexray_vbox_user }}
{% endif %}
{% if rexray_vbox_pass|d() %}  password: {{ rexray_vbox_pass }}
{% endif %}
{% if rexray_vbox_tls|d() %}  tls: {{ rexray_vbox_tls }}
{% endif %}
{% if rexray_vbox_controller_name|d() %}  controllerName: {{ rexray_vbox_controller_name }}
{% endif %}
{% if rexray_vbox_machine|d() %}  localMachineNameOrId: {{ rexray_vbox_machine }}
{% endif %}
{% endif %}
{% if "dobs" in rexray_storage_drivers|d([]) %}
dobs:
{% if rexray_dobs_token|d() %}  token: {{ rexray_dobs_token }}
{% endif %}
{% if rexray_dobs_region|d() %}  region: {{ rexray_dobs_region }}
{% endif %}
{% if rexray_dobs_convert_underscores %}  convertUnderscores: {{ rexray_dobs_convert_underscores }}
{% endif %}
{% if rexray_dobs_status_initial_delay %}  statusInitialDelay: {{ rexray_dobs_status_initial_delay }}
{% endif %}
{% if rexray_dobs_status_max_attempts %}  statusMaxAttempts: {{ rexray_dobs_status_max_attempts }}
{% endif %}
{% if rexray_dobs_status_timeout %}  statusTimeout: {{ rexray_dobs_status_timeout }}
{% endif %}
{% endif %}
